body {
    margin: 50px 20% 50px 20%;
}

article {
    padding : 15px;
    margin-bottom: 30px;
    background-color: #EEE;
    border-radius: 15px;
}

article header {
    padding: 5px 15px 5px 15px;
    margin: 0px;
    background-color: #06D;
    color: #EEE;
    border-radius: 15px;
}

article header p.location {
    font-size: x-small;
}

article header p.location:before {
    content: "Published from: ";
}

article header time[pubdate] {
    display: block;
    font-size: x-small;
}

article section {
    margin-top: 15px;
}

